/** @format */
:root {
	--black: black;
	--orangered: orangered;
	--green: green;
	--orange: orange;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Permanent Marker", cursive;
}

.halloween {
	height: 100vh;
	background-color: var(--black);
	position: relative;
}

.halloween_video {
	object-fit: cover;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.halloween_letters {
	position: absolute;
	top: 0;
	color: var(--orangered);
	left: 0;
	width: 100%;
	height: 500px;
	text-align: center;
	padding-top: 15%;
	letter-spacing: 0.3em;
	background: transparent;
}

.halloween_letters span {
	opacity: 0;
	animation: animate 1s linear forwards;
	-webkit-animation: animate 1s linear forwards;
}

.halloween_letters::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--orangered);
	mix-blend-mode: color;
	pointer-events: none;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotateY(90deg);
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
		filter: blur(1);
		-webkit-filter: blur(1);
	}

	100% {
		opacity: 1;
		transform: rotateY(90deg);
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
		filter: blur(0);
		-webkit-filter: blur(0);
	}
}

.halloween_letters span:nth-child(1) {
	animation-delay: 1s;
}

.halloween_letters span:nth-child(3) {
	animation-delay: 1s;
}

.halloween_letters span:nth-child(4) {
	animation-delay: 1s;
}

.halloween_letters span:nth-child(5) {
	animation-delay: 1s;
}

.halloween_letters span:nth-child(6) {
	animation-delay: 3s;
}

.halloween_letters span:nth-child(7) {
	animation-delay: 1.5s;
}

.halloween_letters span:nth-child(8) {
	animation-delay: 2s;
}

.halloween_letters span:nth-child(9) {
	animation-delay: 2.5s;
}

.halloween_letters span:nth-child(10) {
	animation-delay: 3.1s;
}

.halloween_letters span:nth-child(11) {
	animation-delay: 2.8s;
}

.halloween_letters span:nth-child(12) {
	animation-delay: 2.9s;
}

.halloween_letters span:nth-child(13) {
	animation-delay: 1s;
}

.halloween_letters span:nth-child(14) {
	animation-delay: 4s;
}

.halloween_letters span:nth-child(15) {
	animation-delay: 2.9s;
}

.halloween_letters span:nth-child(16) {
	animation-delay: 3s;
}

button {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: var(--green);
	background-color: var(--orange);
	width: 200px;
	height: 80px;
	font-size: 1.2rem;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.ghost_container {
	width: 100%;
	position: absolute;
	text-align: center;
	visibility: hidden;
}

.ghost_container .goost_image {
	z-index: 10;
	display: hidden;
	width: 550px;
	margin: 35px auto;
	opacity: 0.75;
}
